@import url("https://vendor-cdn.imweb.me/fonts/pretendard/web/static/pretendard.css?1669875619");
@import url("https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Seongang";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/SOGANGUNIVERSITYTTF.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@layer base {
  :root {
    --background: 40 40% 99%;
    --foreground: 0 0% 13%;
    --card: 40 40% 99%;
    --card-foreground: 0 0% 13%;
    --primary: 38 20% 54%;
    --primary-foreground: 0 0% 100%;
    --secondary: 38 28% 92%;
    --secondary-foreground: 0 0% 13%;
    --muted: 38 28% 94%;
    --muted-foreground: 25 10% 50%;
    --accent: 38 20% 86%;
    --accent-foreground: 0 0% 13%;
    --border: 38 23% 84%;
    --input: 38 23% 84%;
    --ring: 38 20% 54%;
    --radius: 0.5rem;
  }

  * {
    @apply border-border;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-background text-foreground;
    margin: 0;
    overflow-x: hidden;
    word-break: keep-all;
  }
}
